@import '@/sass/colors'

.Wrapper
  display: inline-block
  background-color: $white-transparent-100
  border: 1px solid $black-transparent-10
  border-radius: 12px
  font-weight: 500
  font-size: 16px
  line-height: 24px

.List
  display: flex
  height: 100%
  padding: 4px
  
  &:last-child
    .Item
      margin-right: 0

.Item
  height: 100%
  padding: 0 16px
  border-radius: 8px
  margin-right: 6px
  user-select: none
  cursor: pointer
  transition: 150ms linear

  &:hover
    background: $black-transparent-5

  &.Item--Active
    background: $gradient-green

  &.Item--Disabled
    pointer-events: none
    background: none
    color:  $black-transparent-20
    cursor: not-allowed

.Icon
  display: inline-block
  width: 20px
  height: 20px
  margin-right: 8px

.WithoutTitle
  margin-right: 0


.Size--sm
  height: 42px

  .Item
    line-height: 32px

.Size--md
  height: 48px

  .Item
    line-height: 38px

// ------------ DARK ------------ //

.Dark
  background-color: transparent
  border-color: $white-transparent-10

  .Item
    color: $white-100

    &:hover
      background: $white-transparent-5

    &.Item--Active
      color: $black-100

      .Icon
        path
          fill: black

      &:hover
        background: $gradient-green

    &.Item--Disabled
      color:  $white-transparent-20

  .Icon
    path
      fill: white
