@import '@/sass/colors';

.Wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;

  &.Dragging {
    z-index: 999;

    .Handle {
      pointer-events: none;
      cursor: grabbing !important;

      path {
        fill-opacity: 0.5;
      }
    }
  }

  &.DragOverlay {
    opacity: 0;
    z-index: 999;
  }
}

.Item {
  display: block;
  position: relative;
  padding: 18px 20px;
  outline: none;
}

.Remove {
  cursor: pointer;
  padding: 11px;
  border-radius: 8px;
  transition: all 150ms linear;

  path {
    fill: $black-transparent-20;
    transition: all 150ms linear;
  }

  &:hover {
    background-color: #fff6f6;

    path {
      fill: #ff4949;
    }
  }
}

.DragOverlay {
  .Handle {
    pointer-events: none;
    cursor: grabbing !important;

    rect {
      fill-opacity: 0.5;
    }
  }
}

.Dark {
  .Remove {
    path {
      fill: #4a4a4a;
    }

    &:hover {
      background-color: #3e2b2b;

      path {
        fill: #bb3737;
      }
    }
  }
}
