@import '@/sass/colors'

.Avatar
  border-radius: 50%
  border: 2px solid $black-transparent-5

  canvas
    width: 100% !important
    height: 100% !important
    border-radius: 50%

  img
    border-radius: 50%
    object-fit: cover

// ------------ DARK ------------ //

.Dark
  &.Avatar
    border-color: $white-transparent-10
