.Header
  position: fixed
  top: 0
  width: 100%
  padding: 14px 30px
  background: rgba(255, 255, 255, 0.8)
  backdrop-filter: blur(40px)
  z-index: 10
  border-bottom: 1px solid rgb(0 0 0 / 5%)

  &.Dark
    background: rgba(29, 29, 29, 0.6)
    border-color: rgb(255 255 255 / 10%)
