@import '@/sass/colors'
@import '@/sass/mixins'

.Wrapper
  position: absolute
  max-height: 100%
  right: 0
  top: 0
  background-color: $white-100

.Item
  width: 167px
  font-weight: 700
  position: relative
  padding: 6px 20px
  margin-bottom: 6px
  border: 1px solid $black-transparent-5
  border-radius: 8px

  &:last-child
    margin-bottom: 0

.Border
  position: absolute
  left: 0
  top: 0
  width: 8px
  height: 100%
  border-radius: 8px 0px 0px 8px

.Title
  font-size: 12px
  line-height: 22px
  color: $black-transparent-60
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

  @include truncate

.Value
  font-size: 15px
  line-height: 24px
  margin-right: 8px
  margin-left: 4px

// ------------ DARK ------------ //

.Dark
  .Item
    border-color: $white-transparent-5
  .Title
    color: $white-transparent-60
