@import '@/sass/colors'

.Wrapper
  position: relative
  background-color: $white-100
  border-radius: 12px
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4), 0px 10px 20px rgba(136, 120, 172, 0.2)
  width: 320px

.Image
  border-top-left-radius: 12px
  border-top-right-radius: 12px

  img
    height: 90px
    width: 100%
    object-fit: cover
    border-top-left-radius: 12px
    border-top-right-radius: 12px
    user-select: none

.Avatar
  position: absolute
  top: 56px
  left: 50%
  transform: translateX(-50%)
  user-select: none

.Bundle
  position: absolute
  left: 6px
  top: 6px
  user-select: none


.Content
  padding-top: 30px
  padding-left: 16px
  padding-right: 16px
  padding-bottom: 16px
  font-weight: 700

.Title
  font-weight: 700
  font-size: 18px
  margin: 16px 0
  text-align: center

.Stats
  text-align: center
  margin-bottom: 16px

.Stats__Headline
  font-weight: 600
  font-size: 12px
  line-height: 16px
  color: $black-transparent-40
  margin-bottom: 4px

.Stats__Value
  font-weight: 700
  font-size: 14px
  line-height: 16px

.OwnedValue__Wrapper
  padding: 12px
  background-color: $black-transparent-5
  border-radius: 8px
  text-align: center

.OwnedValue__Title
  font-weight: 600
  font-size: 12px
  line-height: 16px
  color: $black-transparent-40
  margin-bottom: 8px

.OwnedValue__Value
  font-size: 15px
  line-height: 22px
  margin-right: 8px
  margin-left: 4px

// ------------ DARK ------------ //  

.Dark
  &.Wrapper
    background-color: $dark-60
    box-shadow: 0px 6px 16px rgba(0 0 0 / 35%)

  .Title
    color: $white-transparent-60
