@import '@/sass/colors'

.Block
  padding: 30px
  font-weight: 600
  line-height: 1

.Block__Balance
  font-size: 22px
  margin-bottom: 15px

.Block__Amount
  font-size: 12px
  line-height: 1
  color: $black-transparent-40

// ------------ DARK ------------ //

.Dark
  .Block__Amount
    color: $white-transparent-40
