.bundle
  font-size: 14px
  font-weight: 500
  color: #fff
  padding: 10px
  // width: 54px
  // height: 34px
  background: rgba(0, 0, 0, 0.5)
  backdrop-filter: blur(4px)
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px
  text-align: center
  line-height: 1
