@import '@/sass/variables'
  
.card
  position: relative
  width: 255px
  min-height: 195px
  text-align: center

.image
  height: 90px
  width: 100%
  user-select: none

  img
    border-top-left-radius: 12px
    border-top-right-radius: 12px

.avatar
  position: absolute
  top: 56px
  left: 50%
  transform: translateX(-50%)
  user-select: none

  img
    border: 2px solid #fff

.content
  margin-top: 34px
  padding: 15px
  padding-top: 20px

.footer
  border-top: 0.5px solid $border-color
  padding-top: 10px

.title
  font-size: 16px
  font-weight: 600

.author
  font-size: 12px
  font-weight: 600
  margin-bottom: 15px

  span
    color: #ccc
    margin-right: 5px

  a
    text-decoration: underline

    &:hover
      text-decoration: none

.text
  font-size: 12px
  line-height: 18px
  color: #666
  margin-bottom: 15px

.bundle
  position: absolute
  left: 6px
  top: 6px
  user-select: none
