@import '@/sass/variables'
  
.card
  position: relative
  width: 255px

.image
  height: 90px
  width: 100%
  user-select: none

  img
    border-top-left-radius: 12px
    border-top-right-radius: 12px

.avatar
  position: absolute
  top: 56px
  left: 50%
  transform: translateX(-50%)
  user-select: none

  img
    width: 68px
    height: 68px
    border-radius: 50%
    border: 2px solid #fff

.content
  margin-top: 34px
  text-align: center
  padding: 15px
  padding-top: 19px

.footer
  border-top: 0.5px solid $border-color
  padding-top: 10px

.title
  font-size: 16px
  font-weight: 600

.author
  font-size: 12px
  font-weight: 600

  span
    color: #ccc
    margin-right: 5px

  a
    text-decoration: underline

    &:hover
      text-decoration: none

.bundle
  position: absolute
  left: 6px
  top: 6px
